<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name="DbSqlite" connectionString="Data Source=todolist.db"/>
    </connectionStrings>
    <appSettings>
        <add key="weatherKey" value="abe434a6bb7e95827219b4ad24407816"/>
        <add key="addressKey" value="ddd8a4dc286bdc58a75fd47fda75ff0c"/>
        <add key="translateAppId" value="20210730000901668"/>
        <add key="translateSecretKey" value="gOLq8gchFBxy0JA_pBCu"/>
    </appSettings>
</configuration>